{% extends 'layout.twig' %}

{% block styles %}
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css">
  <link rel="stylesheet" href="app/vendor/normalize-css/normalize.css">
  <link rel="stylesheet" href=".tmp/styles/main.css">
{% endblock %}

{% block main %}
  <header class="layout-header">
    <div class="mod-brand">
      <h1>Simbiótica</h1>
    </div>
    <nav class="mod-nav">
      <ul>
        <li><a href="#">A link</a></li>
        <li><a href="#">Dropdown menu</a>
          <ul class="dropdown">
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <div class="layout-dashboard">
    <div class="row">
      <div class="grid-12">
        <h2>A title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, maiores, nobis, aut omnis neque recusandae ut pariatur perferendis architecto ea atque beatae voluptatum eius unde praesentium eum sed accusantium dolorem!</p>
      </div>
    </div>
  </div>
  <div class="layout-map">
    <div class="mod-map" id="mapView"></div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
  <script src="app/vendor/requirejs/require.js" data-main="app/scripts/main"></script>
{% endblock %}
